.list-item .actions .edit-button:disabled {
    background-color: #cccccc;
    color: #888888;
    cursor: not-allowed;
    border: none;
    box-shadow: none;
    opacity: 0.7;
}

.list-item .actions .edit-button:disabled:hover {
    background-color: #cccccc;
    color: #888888;
    box-shadow: none;
}