body *{
    font: 24px/40px "Calibri", sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font: 24px/40px "Calibri", sans-serif;
}

.wrapper > div {
    min-width: 20%;
    max-width: 27%;
    min-height: 100px;
    padding: 20px;
    border: 1px solid black;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
}

li {
    display: block;
    width: fit-content;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.backlight {
    background-color: aqua;
}

.btnBuy {
    width: 100px;
    height: 50px;
    background-color: #bfffb8;
    text-align: center;
    border: black 1px solid;
    cursor: pointer;
    font: 24px/40px "Calibri", sans-serif;
}

.form {
    width: 30%;
    display: none;
    /*max-height: 100px;*/
    background-color: #bfffb8;
    border: black 1px solid;
    border-bottom: none;
    font: 24px/40px "Calibri", sans-serif;
    padding: 20px;
}

.form > *{
    font: 24px/30px "Calibri", sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

.orderDetails {
    width: 500px;
    min-height: 400px;
    background-color: #bfffb8;
}

.row {
    display: flex;
    border-bottom: black 1px solid;
}

.cell {
    min-width: 200px;
}

.my-orders-btn {
    font: 24px/30px "Calibri", sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
}

.order-history {
    width: fit-content;
    font: 24px/30px "Calibri", sans-serif;
    border: black 1px solid;
    margin-top: 20px;
}

.basket-row {
    border-bottom: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 10px;
}

.sequence-number, .more-info {
    text-align: center;
    border-right: black 1px solid;
    padding: 0 20px;
}

.product-information {
    display: flex;
    min-width: 400px;
}

.more-info {
    border-right: none;
    border-left: black 1px solid;
    color: blue;
    cursor: pointer;
    font: 14px/30px "Calibri", sans-serif;
}

.field-name {
    padding-right: 20px;
    color: brown;
}

.info-container {
    padding: 10px;
}

.delete-button {
    font: 24px/30px "Calibri", sans-serif;
    cursor: pointer;
}

.see-details {
    display: none;
    padding: 10px 20px;
    border-top: black 1px solid;
    margin-left: auto;
    width: 100%;
}

.see-details p {
    width: fit-content;
}
