.wrapper {
    width: 700px;
    height: 250px;
}

.aButton {
    width: 150px;
    height: 80px;
    font: 24px/20px "Calibri", sans-serif;
    margin-right: 20px;
    background-color: #dfffc4;
}

.history > div{
    width: 300px;
    font: 24px/20px "Calibri", sans-serif;
    background-color: #c4fffd;
    border: solid 1px #000000;
    margin-bottom: 5px;
}
