.header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    font-weight: 700;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 10px;position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

}

.header > .name,
.header > .lastname {
    flex-basis: 25%;
}

.header > .phone-number {
    flex-basis: 30%;
}

.header > .actions {
    flex-basis: 20%;
    text-align: right;
}